@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --font-main: "Lato";
    --color-main-light: #EEF3FD;
    --color-emphasis: #809CFF;
}


.hidden {
    display: none;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
}


/* Header and Logo */
.app-body {
    font-family: var(--font-main), sans-serif;
}

.app-header {
    box-sizing: border-box;
    background-color: forestgreen;
    padding: 1em 10em;
}

.header__logo {
    font-family: "Poetsen One";
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: 500;
}

.header__logo-bold {
    color: greenyellow;
    font-weight: 300;
}

/* Products list */
.product-list {
    overflow: scroll;
    height: 100%;
}

/* Total itens value */
.total-price-frame {
    background-color: white;
    padding: 1.5em 4em;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 3px 5px grey;
    color: black
}

.total-price__wrapper {
    border-top: 1px solid grey;
    padding-top: 1.5em;
    display: flex;
    justify-content: space-between;
}

.total-price__label {
    font-size: 16px;
    text-align: left;
}

.total-price__value {
    font-size: 16px;
    font-weight: 600;
    text-align: right;
    color: turquoise;
}

.home__add-product-btn {
    display: block;
    background-color: none;
    border: none;
    border-radius: 6px;
    font-family: var(--font-main), sans-serif;
    padding: 0.7em 1.3em;
    margin: 1em auto;
}

/* Form for adding new product */
.product-form {
    gap: 2em;
    padding: 2em;
    border-radius: 6px;
    box-shadow: 0 3px 5px grey;
    position: sticky;
    width: 70%;
    margin: 0 auto;
    background-color: white;
    z-index: 2;
}

/* Product item card */
.product-card {
    box-sizing: border-box;
    background-color: var(--color-main-light);
    display: flex;
    border: solid 1px var(--color-main-light);
    border-radius: 6px;
    width: 90%;
    padding: 0.8em 1em;
    margin: 1.3em auto;
    position: relative;

    radio {
        height: 2em;
        width: 2em;
        margin: auto 1em;
        border: 0;
    }

    h3 {
        font-size: 16px;
    }

    .product-info-container {
        padding-right: 0.3em;
        word-wrap: break-word;
        width: 60%;
    }

    .product-un-price {
        font-size: 14px;
        display: block;
        margin: 1em 0;
        color: grey;
    }
}

.product-card__btn-wrapper {
    display: flex;
    gap: 0.5em;

    button {
        width: 2.5em;
        height: 2.5em;
        padding: 0.2em;
        border: solid 1px var(--color-emphasis);
        border-radius: 3px;
        background-color: none;
        color: var(--color-emphasis);
    }
}

.product-subtotal-container {
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20%;
    border-radius: 6px;
    padding: 1.3em;
}

.product-quantity {
    width: 100%;
    height: 3em;
    margin: 0 auto;
}

.product-subtotal {
    display: block;
    font-weight: 600;
    color: var(--color-emphasis);
    margin-top: 1em;
    text-align: center;
    font-size: 1.1em;
}